.match-result-item {
    width: 100%;
    border-radius: 16px;
    background: var(--bg-card);
    padding: 12px;
   

    .star-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(0.9);
        }
    }
}